@import "functions";
@import "utilities";
@import "variables";
@import "mixins";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "modal";
@import "alert";
@import "progress";
@import "list-group";
@import "modal";
@import "carousel";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
  padding-top: 70px;
  background-color: whitesmoke;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  gap: 10;
}

.text {
  flex: 1;
  text-align: left;
}

.text h1 {
  line-height: 1.1;
  letter-spacing: 5px;
  font-weight: 700;
}

.text p {
  margin-top: 15px;
  line-height: 1.6;
}

.image {
  flex: 1;
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: black !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: lightcoral !important;
}

.navbar.scrolled {
  background-color: lightblue;
} 



/*button color */
  .btn-contact {
    background-color: lightcoral;
    color: white !important;
    border-radius: 25px;
    padding: 8px 25px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  .btn-contact:hover {
    background-color: transparent;
    color: black !important;
    border-color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

